<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82796486896-6eicn3v0tu4f91ofarjgs74h7t1f59qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82796486896-6eicn3v0tu4f91ofarjgs74h7t1f59qb</string>
	<key>API_KEY</key>
	<string>AIzaSyDb3_qc3g92J9u9_KCy3GTfn9nAivc6U7M</string>
	<key>GCM_SENDER_ID</key>
	<string>82796486896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.fignny.FlutterSample.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-dev-c50ee</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-dev-c50ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82796486896:ios:4cab41fe200df34add6235</string>
</dict>
</plist>